<h1 style='color: rgb(255, 255, 255)'>Login</h1>

<div class="box">
    <form action="/user/login" method="POST">
        <div class="field">
            <label class="label">Email: 
                <input type="email" name="email" placeholder="Email">
            </label>
        </div>
        <div class="field">
            <label class="label">Password: 
                <input type="password" name="password" placeholder="Password">
            </label>
        </div>
        <button type="submit" class="button is-success">Login</button>
    </form>
</div>