
${restaurantData.map(restaurant => 
    `
    <h1 class="button is-link">${restaurant.name}</h2>

    <div>
        <div class="columns">
            <div class="column">
                <div class="control buttons has-addons">
                    <span class="button is-link is-light is-static">Category:</span>
                    <span class="button is-static">${restaurant.category}</span>
                </div>
                <div class="control buttons has-addons">
                    <span class="button is-link is-light is-static">Star rating:</span>
                    <span class="button is-static">${avgStarsString}</span>
                </div>
            </div>
            <div class="column">
                <div class="control buttons has-addons">
                    <span class="button is-link is-light is-static">Distance:</span>
                    <span class="button is-static">${restaurant.distance}</span>
                </div>
                <div class="control buttons has-addons">
                    <span class="button is-link is-light is-static">Offers takeout:</span>
                    <span class="button is-static">${restaurant.takeout}</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="box">
            <form action="/" method="POST">
                <input type="hidden" value="1" name="reviewer_id">
                <input type="hidden" value=${restaurant.id} name="restaurant_id">
                <div class="field">
                    <label class="label">Title: 
                        <input type="text" name="review_title" placeholder="Review Title">
                    </label>
                    <label class="label">Rating: 
                            1 <input type="radio" name="review_stars" value="1">
                            2 <input type="radio" name="review_stars" value="2">
                            3 <input type="radio" name="review_stars" value="3">
                            4 <input type="radio" name="review_stars" value="4">
                            5 <input type="radio" name="review_stars" value="5">
                    </label>
                </div>
                <div class="field">
                    <label class="label">Your review: </label>
                    <textarea name="review_review"></textarea>
                </div>
                <button type="submit" class="button is-success">Save Review</button>
            </form>
        </div>

        <div class="columns is-mobile">
            <h3 class="column is-2" style='color: rgb(255, 255, 255)'>Reviews</h3>
            <div class="column"  id="reviews">
            ${reviewData.map(review =>
                `
                <div class="box">
                    <h4>[${review.stars}] ${review.title}</h4>
                    <p>"${review.review}"</p>
                    <p>- ${review.reviewer_name}</p>
                </div>
                `
            )}
            </div>
        </div>
    </div>
    `
)}
