<h1 style='color: rgb(255, 255, 255)'>Signup</h1>

<div class="box">
    <form action="/user/signup" method="POST">
        <div class="field">
            <label class="label">Name: 
                <input type="text" name="name" placeholder="Name">
            </label>
        </div>
        <div class="field">
            <label class="label">Email: 
                <input type="email" name="email" placeholder="Email">
            </label>
        </div>
        <div class="field">
            <label class="label">Password: 
                <input type="password" name="password" placeholder="Password">
            </label>
        </div>

        <button type="submit" class="button is-success">Signup</button>
    </form>
</div>