body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("/images/cook.jpg") center center no-repeat;
  min-height: 100vh;
}

a {
  color: rgb(0, 183, 255)
}

#title {
  font-weight: bold;
}

main {
  padding-top: 50px;
}

#details {
  margin: 5px;
}

#restaurantDetails, #reviewDetails {
  margin: 5px;
}

#restaurantDetails {
  padding: 5px;
  list-style: none;
}

#restaurantDetails .buttons:last-child {
  margin-bottom: 0rem;
}

#reviewDetails h3 {
  margin-top: 10px;
}

#reviewTitle {
  font-weight: bold;
}

#reviewReviewer {
  font-style: italic;
}